<div>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
  <td style="width:63%;">
  <p>PhD researcher part of the <a href="https://cdt-art-ai.ac.uk/">ART-AI</a> CDT and Bath Reinforcement Learning Laboratory in the <a href="https://www.bath.ac.uk/departments/department-of-computer-science/">Department of Computer Science</a> at the <a href="https://www.bath.ac.uk/">University of Bath</a>. My Supervisor is <a href="https://researchportal.bath.ac.uk/en/persons/%C3%B6zg%C3%BCr-%C5%9Fim%C5%9Fek">Özgür Şimşek</a>. I earned my Masters in Computer Science and Mathematics from the University of Bath.
                </p>
              </td>
              <td style="padding:2.5%;width:40%;max-width:40%">
                <a href="assets/images/scarllette_mugshot.png"><img style="width:100%;max-width:100%;object-fit: cover;" alt="profile photo" src="assets/images/scarllette_mugshot.png" class="hoverZoomLink"></a>
              </td>
          </tbody></table>
</div> 
