---
layout: default
---
<!-- Nav Links -->
|
{% for item in site.data.navigation.pages %}
  <a href="{{item.link}}" alt="{{item.name}}" style="text-transform: uppercase;">
  {% if item.link == page.url %}
    [{{item.name}}]
  {% else %}
    {{item.name}}
  {% endif %}
  </a> |
{% endfor %}
<!-- End Nav Links -->

<hr style="height=50px">

{{ content | replace: '<h2>NEWS</h2>', '<h2>NEWS</h2>
<div class="news-section">' |
  replace: '<h2>EXTRAS</h2>', '</div>
<h2>EXTRAS</h2>' |
replace: '<ul>', '<ul class="linked-list">' |
    replace: '<p><strong>', '<p class="role"><strong class="title">' }}
